<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @channel.board_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @channel.number %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
