<div class="page-header">
  <h1> <small><%=channel.name%> weekly schedule</small></h1>
</div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Start time</th>
        <th>Duration</th>
        <th>Weekday</th>
        <th>Details</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%channel.triggers.each do |trigger|%>
        <tr>
          <td><%=trigger.to_formatted_watering(trigger.on_at)%></td>
          <td>
            <span class="badge badge-success"><%=trigger.duration%> min</span>
          </td>
          <td>
            <span class="label label-success"><%=trigger.weekday_string%></span>
          </td>
          <td>
            <span class="label">as scheduled</span>
          </td>
          <td><%= link_to 'Edit', edit_trigger_path(trigger) %></td>
          <td><%= link_to 'Delete', trigger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>