<%= form_for(@dailyweatheractual) do |f| %>
  <% if @dailyweatheractual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dailyweatheractual.errors.count, "error") %> prohibited this dailyweatheractual from being saved:</h2>

      <ul>
      <% @dailyweatheractual.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :maxtemp %><br>
    <%= f.number_field :maxtemp %>
  </div>
  <div class="field">
    <%= f.label :mintemp %><br>
    <%= f.number_field :mintemp %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :wind %><br>
    <%= f.number_field :wind %>
  </div>
  <div class="field">
    <%= f.label :precipitation %><br>
    <%= f.number_field :precipitation %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </div>
  <div class="field">
    <%= f.label :apicource %><br>
    <%= f.text_field :apicource %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
