<h3 style="align:center;"><%=board.name%></h3>
<p><%=board.description%></p>
<div class="btn-group dropup">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
     <%= "Edit" %> <span class="caret"></span>
    </button>
  <ul class="dropdown-menu bottom-up" role="menu">
    <%if board.channels.count == 0 %> <li><%= link_to "Create Channels", new_channel_path%></li> <%end%>
    <%board.channels.each_with_index do |channel, i|%>
      <li><%= link_to "#{channel.name}", edit_channel_path(channel)%></li>
    <%end%>
    <li class="divider"></li>
    <li><%= link_to "Add a channel", new_channel_path%></li>
    <li><%= link_to "Add a board", new_board_path%></li>
    <li class="divider"></li>
    <li><%= link_to "Edit this board", edit_board_path(board)%></li>
  </ul>
</div>