<% userboards = Board.order(:id).load %>
<%span = "span3"%>
  <ul class="thumbnails">
    <li class="span11">
    <% userboards.each do |board| %>
      <li class="<%=span%>">
        <div class="thumbnail">
          <a href=<%="#{edit_board_path(board)}"%> class="thumbnail" rel="tooltip" data-original-title="Edit your board" data-placement="bottom">
            <%= image_tag("#{board.image}", :class => "img-responsive", :alt =>"Responsive image") %>
          </a>
          <%= render 'static/dashboard/weather', :board => board %>          
          <h3 style="align:center;"><%=board.name%></h3>
          <p><%=board.description%></p>
          <p><a href=<%="#{edit_board_path(board)}"%> class="btn btn-primary">Edit</a> <a href=<%="#{boards_path}"%> class="btn">View all your boards</a></p>
        </div>
      </li>
    <%end%>
  </ul>

  
    <canvas id="clear-day" width="64" height="64">
    </canvas>

    <canvas id="clear-night" width="64" height="64">
    </canvas>

    <canvas id="partly-cloudy-day" width="64" height="64">
    </canvas>

    <canvas id="partly-cloudy-night" width="64" height="64">
    </canvas>

    <canvas id="cloudy" width="64" height="64">
    </canvas>

    <canvas id="rain" width="64" height="64">
    </canvas>

    <canvas id="sleet" width="64" height="64">
    </canvas>

    <canvas id="snow" width="64" height="64">
    </canvas>

    <canvas id="wind" width="64" height="64">
    </canvas>

    <canvas id="fog" width="64" height="64">
    </canvas>
  <script>
    var icons = new Skycons({"color": "green"});

    icons.set("clear-day", Skycons.CLEAR_DAY);
    icons.set("clear-night", Skycons.CLEAR_NIGHT);
    icons.set("partly-cloudy-day", Skycons.PARTLY_CLOUDY_DAY);
    icons.set("partly-cloudy-night", Skycons.PARTLY_CLOUDY_NIGHT);
    icons.set("cloudy", Skycons.CLOUDY);
    icons.set("rain", Skycons.RAIN);
    icons.set("sleet", Skycons.SLEET);
    icons.set("snow", Skycons.SNOW);
    icons.set("wind", Skycons.WIND);
    icons.set("fog", Skycons.FOG);

    icons.play();
  </script>