<h1>Listing boardshortmessages</h1>

<table>
  <thead>
    <tr>
      <th>Board</th>
      <th>Channel1 on in seconds</th>
      <th>Channel2 on in seconds</th>
      <th>Channel3 on in seconds</th>
      <th>Channel4 on in seconds</th>
      <th>Channel5 on in seconds</th>
      <th>Channel6 on in seconds</th>
      <th>Channel7 on in seconds</th>
      <th>Channel8 on in seconds</th>
      <th>Randomaccesscode</th>
      <th>Scalediv32</th>
      <th>Date</th>
      <th>Year</th>
      <th>Month</th>
      <th>Day</th>
      <th>Hour</th>
      <th>Minute</th>
      <th>Second</th>
      <th>Channel1</th>
      <th>Channel2</th>
      <th>Channel3</th>
      <th>Channel4</th>
      <th>Channel5</th>
      <th>Channel6</th>
      <th>Channel7</th>
      <th>Channel8</th>
      <th>Sendstatus</th>
      <th>Echo</th>
      <th>Willsend</th>
      <th>Checksum</th>
      <th>Concatinated board ascii</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @boardshortmessages.each do |boardshortmessage| %>
      <tr>
        <td><%= boardshortmessage.board_id %></td>
        <td><%= boardshortmessage.channel1_on_in_seconds %></td>
        <td><%= boardshortmessage.channel2_on_in_seconds %></td>
        <td><%= boardshortmessage.channel3_on_in_seconds %></td>
        <td><%= boardshortmessage.channel4_on_in_seconds %></td>
        <td><%= boardshortmessage.channel5_on_in_seconds %></td>
        <td><%= boardshortmessage.channel6_on_in_seconds %></td>
        <td><%= boardshortmessage.channel7_on_in_seconds %></td>
        <td><%= boardshortmessage.channel8_on_in_seconds %></td>
        <td><%= boardshortmessage.randomaccesscode %></td>
        <td><%= boardshortmessage.scalediv32 %></td>
        <td><%= boardshortmessage.date %></td>
        <td><%= boardshortmessage.year %></td>
        <td><%= boardshortmessage.month %></td>
        <td><%= boardshortmessage.day %></td>
        <td><%= boardshortmessage.hour %></td>
        <td><%= boardshortmessage.minute %></td>
        <td><%= boardshortmessage.second %></td>
        <td><%= boardshortmessage.channel1 %></td>
        <td><%= boardshortmessage.channel2 %></td>
        <td><%= boardshortmessage.channel3 %></td>
        <td><%= boardshortmessage.channel4 %></td>
        <td><%= boardshortmessage.channel5 %></td>
        <td><%= boardshortmessage.channel6 %></td>
        <td><%= boardshortmessage.channel7 %></td>
        <td><%= boardshortmessage.channel8 %></td>
        <td><%= boardshortmessage.sendstatus %></td>
        <td><%= boardshortmessage.echo %></td>
        <td><%= boardshortmessage.willsend %></td>
        <td><%= boardshortmessage.checksum %></td>
        <td><%= boardshortmessage.concatinated_board_ascii %></td>
        <td><%= link_to 'Show', boardshortmessage %></td>
        <td><%= link_to 'Edit', edit_boardshortmessage_path(boardshortmessage) %></td>
        <td><%= link_to 'Destroy', boardshortmessage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boardshortmessage', new_boardshortmessage_path %>
