<p id="notice"><%= notice %></p>

<p>
  <strong>Board:</strong>
  <%= @boardshortmessage.board_id %>
</p>

<p>
  <strong>Channel1 on in seconds:</strong>
  <%= @boardshortmessage.channel1_on_in_seconds %>
</p>

<p>
  <strong>Channel2 on in seconds:</strong>
  <%= @boardshortmessage.channel2_on_in_seconds %>
</p>

<p>
  <strong>Channel3 on in seconds:</strong>
  <%= @boardshortmessage.channel3_on_in_seconds %>
</p>

<p>
  <strong>Channel4 on in seconds:</strong>
  <%= @boardshortmessage.channel4_on_in_seconds %>
</p>

<p>
  <strong>Channel5 on in seconds:</strong>
  <%= @boardshortmessage.channel5_on_in_seconds %>
</p>

<p>
  <strong>Channel6 on in seconds:</strong>
  <%= @boardshortmessage.channel6_on_in_seconds %>
</p>

<p>
  <strong>Channel7 on in seconds:</strong>
  <%= @boardshortmessage.channel7_on_in_seconds %>
</p>

<p>
  <strong>Channel8 on in seconds:</strong>
  <%= @boardshortmessage.channel8_on_in_seconds %>
</p>

<p>
  <strong>Randomaccesscode:</strong>
  <%= @boardshortmessage.randomaccesscode %>
</p>

<p>
  <strong>Scalediv32:</strong>
  <%= @boardshortmessage.scalediv32 %>
</p>

<p>
  <strong>Date:</strong>
  <%= @boardshortmessage.date %>
</p>

<p>
  <strong>Year:</strong>
  <%= @boardshortmessage.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @boardshortmessage.month %>
</p>

<p>
  <strong>Day:</strong>
  <%= @boardshortmessage.day %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @boardshortmessage.hour %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @boardshortmessage.minute %>
</p>

<p>
  <strong>Second:</strong>
  <%= @boardshortmessage.second %>
</p>

<p>
  <strong>Channel1:</strong>
  <%= @boardshortmessage.channel1 %>
</p>

<p>
  <strong>Channel2:</strong>
  <%= @boardshortmessage.channel2 %>
</p>

<p>
  <strong>Channel3:</strong>
  <%= @boardshortmessage.channel3 %>
</p>

<p>
  <strong>Channel4:</strong>
  <%= @boardshortmessage.channel4 %>
</p>

<p>
  <strong>Channel5:</strong>
  <%= @boardshortmessage.channel5 %>
</p>

<p>
  <strong>Channel6:</strong>
  <%= @boardshortmessage.channel6 %>
</p>

<p>
  <strong>Channel7:</strong>
  <%= @boardshortmessage.channel7 %>
</p>

<p>
  <strong>Channel8:</strong>
  <%= @boardshortmessage.channel8 %>
</p>

<p>
  <strong>Sendstatus:</strong>
  <%= @boardshortmessage.sendstatus %>
</p>

<p>
  <strong>Echo:</strong>
  <%= @boardshortmessage.echo %>
</p>

<p>
  <strong>Willsend:</strong>
  <%= @boardshortmessage.willsend %>
</p>

<p>
  <strong>Checksum:</strong>
  <%= @boardshortmessage.checksum %>
</p>

<p>
  <strong>Concatinated board ascii:</strong>
  <%= @boardshortmessage.concatinated_board_ascii %>
</p>

<%= link_to 'Edit', edit_boardshortmessage_path(@boardshortmessage) %> |
<%= link_to 'Back', boardshortmessages_path %>
