<h1>Listing waterallboards</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Address</th>
      <th>Zipcode</th>
      <th>Boardnumber</th>
      <th>Boardmodel</th>
      <th>Person</th>
      <th>Channels</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @waterallboards.each do |waterallboard| %>
      <tr>
        <td><%= waterallboard.latitude %></td>
        <td><%= waterallboard.longitude %></td>
        <td><%= waterallboard.address %></td>
        <td><%= waterallboard.zipcode %></td>
        <td><%= waterallboard.boardnumber %></td>
        <td><%= waterallboard.boardmodel %></td>
        <td><%= waterallboard.person_id %></td>
        <td><%= waterallboard.channels %></td>
        <td><%= link_to 'Show', waterallboard %></td>
        <td><%= link_to 'Edit', edit_waterallboard_path(waterallboard) %></td>
        <td><%= link_to 'Destroy', waterallboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Waterallboard', new_waterallboard_path %>
