<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @waterallboard.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @waterallboard.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @waterallboard.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @waterallboard.zipcode %>
</p>

<p>
  <strong>Boardnumber:</strong>
  <%= @waterallboard.boardnumber %>
</p>

<p>
  <strong>Boardmodel:</strong>
  <%= @waterallboard.boardmodel %>
</p>

<p>
  <strong>Person:</strong>
  <%= @waterallboard.person_id %>
</p>

<p>
  <strong>Channels:</strong>
  <%= @waterallboard.channels %>
</p>

<%= link_to 'Edit', edit_waterallboard_path(@waterallboard) %> |
<%= link_to 'Back', waterallboards_path %>
