<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @board.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @board.zipcode %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
