<%= form_for(@trigger) do |f| %>
  <% if @trigger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trigger.errors.count, "error") %> prohibited this trigger from being saved:</h2>
      <ul>
      <% @trigger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% test = {"three" => 3, "four" => 4, "five" => 5} %>
  <div class="field">
    <%= f.label :duration %>
    <%= f.select :duration, test %>
  </div>
  
  <div class="field">
    <%= f.label :weekday_string %>
    <%= f.text_field :weekday_string %>
  </div>
  
  <div class="field">
    <%= f.label :weekday_string %>
    <%= f.text_field :weekday_string %>
  </div>
  
  <div class="field">
    <%= f.label :weekday_string %>
    <%= f.text_field :weekday_string %>
  </div>
  
  <div class="field">
    <%= f.label :weekday_string %>
    <%= f.text_field :weekday_string %>
  </div>
  
  <div class="field">
    <%= f.label :weekday_string %>
    <%= f.text_field :weekday_string %>
  </div>
  
  <div class="field">
    <%= f.label :weekday_string %>
    <%= f.text_field :weekday_string %>
  </div>
  
  <div class="field">
    <%= f.label :weekday_string %>
    <%= f.text_field :weekday_string %>
  </div>
  
  <div class="actions">
    <div><%= f.submit "Save", :class => "btn btn-primary" %></div>
  </div>
  
<% end %>
