<p id="notice"><%= notice %></p>

<p>
  <strong>Int:</strong>
  <%= @trigger.int %>
</p>

<p>
  <strong>G:</strong>
  <%= @trigger.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @trigger.scaffold %>
</p>

<p>
  <strong>Trigger:</strong>
  <%= @trigger.trigger %>
</p>

<p>
  <strong>Int:</strong>
  <%= @trigger.int %>
</p>

<p>
  <strong>Time:</strong>
  <%= @trigger.time %>
</p>

<p>
  <strong>Int:</strong>
  <%= @trigger.int %>
</p>

<p>
  <strong>Int:</strong>
  <%= @trigger.int %>
</p>

<p>
  <strong>String:</strong>
  <%= @trigger.string %>
</p>

<p>
  <strong>Bool:</strong>
  <%= @trigger.bool %>
</p>

<p>
  <strong>String:</strong>
  <%= @trigger.string %>
</p>

<p>
  <strong>Text:</strong>
  <%= @trigger.text %>
</p>

<%= link_to 'Edit', edit_trigger_path(@trigger) %> |
<%= link_to 'Back', triggers_path %>
