<%= form_for(@watering) do |f| %>
  <% if @watering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watering.errors.count, "error") %> prohibited this watering from being saved:</h2>

      <ul>
      <% @watering.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.number_field :version %>
  </div>
  <div class="field">
    <%= f.label :channel %><br>
    <%= f.number_field :channel %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
