<h1>Listing waterings</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Version</th>
      <th>Channel</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @waterings.each do |watering| %>
      <tr>
        <td><%= watering.time %></td>
        <td><%= watering.version %></td>
        <td><%= watering.channel %></td>
        <td><%= watering.user_id %></td>
        <td><%= link_to 'Show', watering %></td>
        <td><%= link_to 'Edit', edit_watering_path(watering) %></td>
        <td><%= link_to 'Delete', watering, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watering', new_watering_path %>
