<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @watering.time %>
</p>

<p>
  <strong>Version:</strong>
  <%= @watering.version %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @watering.channel %>
</p>

<p>
  <strong>User:</strong>
  <%= @watering.user_id %>
</p>

<%= link_to 'Edit', edit_watering_path(@watering) %> |
<%= link_to 'Back', waterings_path %>
