<!-- Make sure I already have a board -->
<%check_my_first_boards_existance(current_user)%>
<!-- END checking for board -->
<div class="span4">
  <h2>Update your profile</h2>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.fields_for :person do |builder| %>
      <%= render "people_fields", :f => builder %>
    <% end %>  
    <div>
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %>
    </div>
  
    <div id="change-password-box">  
      <div><%= f.label :password %> <i style ="color:red;">(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, :autocomplete => "off" %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>
    </div>
    <div><%= f.submit "Update",:class => "btn btn-primary" %></div>
  <% end %>
  <!-- <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p> -->

  <%= link_to "Back", :back %> | 
  <a href="#" onclick="toggle_visibility('change-password-box');"><%= t(".change_password")%></a>
</div>
<div class="span4">
  <ul class="thumbnails">
    <li class="span1">
      <a href="http://gravatar.com/emails/" class="thumbnail" rel="tooltip" data-original-title="Edit your picture" data-placement="bottom">
        <%= image_tag(user_avatar_url(current_user, size: 75), :class => "img-responsive", :alt =>"Responsive image") %>
      </a>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <a href=<%="#{edit_board_path(current_user.person.boards.first)}"%> class="thumbnail" rel="tooltip" data-original-title="Edit your board's location" data-placement="bottom">
          <%= image_tag(google_maps_image(current_user.person.boards.first, {width: 450, height: 300}), :class => "img-responsive", :alt =>"Responsive image") %>
        </a>
        <h4>Your first board</h4>
        <p>We think your first board is around here (<%="#{current_user.person.boards.first.try(:address)}"%>). Feel free to edit this and all your other board location.</p>
        <p><a href=<%="#{edit_board_path(current_user.person.boards.first)}"%> class="btn btn-primary">Edit</a> <a href=<%="#{boards_path}"%> class="btn">View all your boards</a></p>
      </div>
    </li>
    
  </ul>
</div>
  


